/* GLOBALS */
html {scroll-behavior: smooth;}
main
div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
h1, h2, p, a, button, b {
  text-align: center;
  text-decoration: none;
  font-family: Kanit, Open Sans;
  letter-spacing: 2px;
  color: #FBFBFB;
}
h1 {font-size: 250%; text-align: center;}
h2 {display:flex; font-size: 150%; text-align: center; margin-right: auto;}
p {font-size: 100%;}
a, button {padding: 12px 18px; font-size: small; transition: 0.4s;}
a:hover, button:hover {color: #716969;}
b {font-size: 100%; color: #716969;}
.middle-flex-padding, .middle-flex, #create-categ-div {
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}
#word-a {text-decoration: underline; font-size: medium; padding: 1px 1px;}
#word-a:hover {color: #716969;}

/* Navigation Bar */
.cta {
  background-color: #716969;
  cursor: pointer;
  text-align: left;
  border: 1px solid #716969;
  outline: none;
  transition: 0.4s;
}
.cta:hover {
  background-color: #0F0F0F;
  border: 1px solid #716969;
  color: #716969;
}
#logo-nav-bar {
  background-color: #0F0F0F;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  left: 0;
  padding: 1.5% 1.5% 1.5% 1.5%;
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  width: 97%;
}
#logo-cta {
  margin-right: auto;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Kanit;
  font-size: small;
  letter-spacing: 2px;
}
#logo-cta:hover {float: right; color: #FBFBFB;}
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child):not(:last-child) {display: none;}
  .topnav.responsive {position: fixed;}
}

/* Introduction Section */
#introduction {padding: 15% 0;}

/* About Section */
#about {padding-top: 10%;}
#contacts {flex-direction: row;}
#links {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Kanit;
  font-size: x-large;
  letter-spacing: 2px;
  color: #FBFBFB;
}
#links:hover {color: #716969;}

/* Experience Section */
#experiences {padding-top: 10%;}
#exp-label {text-align: start; width: 100%; padding-left: 10%; padding-right: 10%;}
#exp-content {padding-left: 10%; padding-right: 10%; width: 100%; text-align: justify;}
.accordion {
  margin: 0.5% 0.5%;
  background-color: #716969;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: 1px solid #716969;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #0F0F0F;
  border: 1px solid #716969;
  color: #716969;
}
.accordion:after {
  font-size: 13px;
  color: #716969;
  float: right;
  margin-left: 5px;
}
.panel {
  padding: 0% 5%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

/* My Creations Section */
#creations {padding-top: 10%;}

/* Icons */
i {color: #716969;}

/* Background */
/* Image Background */
#img-bg {
  background: url(../img/bg.webp) no-repeat bottom left;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.005;
  width: 100%;
  height: 100%;
  transform: scale(1);
}

body { background-color: #0F0F0F;  margin: 1% 1%}