/*--------------------------------------------------------*/
/* GLOBALS */
html {
  scroll-behavior: smooth;
}

div {
  display: flex;
}

h1 {
  text-align: center;
  text-decoration: none;
  font-family: Kanit;
  font-size: 250%;
  letter-spacing: 5px;
  color: #FBFBFB;
}

h2 {
  text-align: center;
  text-decoration: none;
  font-family: Kanit;
  font-size: 150%;
  letter-spacing: 5px;
  color: #FBFBFB;
}

p {
  padding: 0% 0% 0% 0%;
  text-align: center;
  text-decoration: none;
  font-family: Open Sans;
  font-size: 100%;
  letter-spacing: 2px;
  color: #FBFBFB;
}

a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Kanit;
  font-size: small;
  letter-spacing: 2px;
  color: #FBFBFB;
}

a:hover {
  color: #716969
}

b {
  text-align: center;
  text-decoration: none;
  font-family: Kanit;
  font-size: 100%;
  letter-spacing: 5px;
  color: #716969;
}

.middle-flex-padding {
  padding-bottom: 15%;
  justify-content: center;
  flex-direction: column;
}

.middle-flex {
  justify-content: center;
  flex-direction: column;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* Navigation Bar*/
#logo-nav-bar {
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  padding: 1.5% 1.5% 1.5% 1.5%;
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  width: 96.5%;
}

#nav-cta {
  background-color: #716969;
  text-align: center;
  margin: 7px 7px 7px 7px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  font-family: Kanit;
  font-size: small;
  font-weight: bold;
  letter-spacing: 2px;
}

#nav-cta:hover {
  background-color: #0F0F0F;
  border: 1px solid #716969;
  color: #716969;
  margin: 6px 6px 6px 6px;
}

#logo-cta {
  margin-right: auto;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Kanit;
  font-size: small;
  letter-spacing: 2px;
}

#logo-cta:hover {
  float: right;
  color: #FBFBFB;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* Introduction Section*/
#intro-div {
  padding-top: 15%;
  padding-bottom: 15%;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* About Section */
#about-div {
  padding-top: 10%;
}

#social-div {
  flex-direction: row;
}

#links {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Kanit;
  font-size: x-large;
  letter-spacing: 2px;
  color: #FBFBFB;
}

#links:hover {
  color: #716969;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* Experience Section */
#exp-div {
  padding-top: 10%;
}

#create-categ-div {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
}

/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* My Creations Section */
#create-div {
  padding-top: 10%;
}


/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* Icons */
i {
  color: #716969;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* Background */
/* Image Background */
#img-bg {
  background: url(../img/bg.webp) no-repeat bottom left;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.005;
  width: 100%;
  height: 100%;
}

body {
  background-color: #0F0F0F;
}
/*--------------------------------------------------------*/